.accordion-item {
  border: 1px solid;
  text-align: left;
}

.accordion-header {
  color: #fff;
  background-color: #333333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  padding: 10px;
}

.accordion-expand-icon {
  padding: 0 10px;
  cursor: pointer;
}
